<table class="table table-border">
  <tr>
    <!--imageが設定されていなければデフォルト画像-->
    <th><%= attachment_image_tag user, :image, :fill, 60, 60, fallback: "no_image.jpg" %></th>
    <th>
      <!--ログインユーザーだった場合プロフィールを編集できる-->
      <% if user.id == current_user.id %>
        <%= link_to(edit_user_path(user.id)) do %>
          <button class="btn btn-outline-secondary ml-3 text-success">プロフィール編集</button>
        <% end %>
        <div>
          <%= link_to "退会する",user_registration_path, class: "destroy-user m-4", method: :delete, data: {confirm: "本当に退会しますか？"} %>
        </div>
      <% end %>
    </th>
  </tr>
  <tr>
    <td>ニックネーム</td>
    <td><%= user.nickname %></td>
  </tr>
</table>
<div class="m-3">
  フォロー数：<%= link_to "#{user.follower.count}", follower_user_path(user.id), class: 'text-success' %><br>
  フォロワー数：<%= link_to "#{user.followed.count}", followed_user_path(user.id), class: 'text-success' %>
</div>
<div class="m-3">
  <!--ログインユーザーでない場合に表示する-->
  <% unless user == current_user %>
    <div id="likes_buttons_<%= user.id %>">
      <%= render partial: 'users/like', locals: { user: user } %>
    </div>
  <% end %>
</div>
<div class="ml-3">
  <%= link_to(user_likes_path(user.id)) do %>
    <button class="btn btn-outline-secondary text-success">お気に入り一覧</button>
  <% end %>
</div>


