<table class="table table-boder bg-light">
  <tr>
    <th>レビュー一覧</th>
    <th></th>
    <th></th>
  </tr>
  <% user.reviews.each do |review| %>
    <tr>
      <td><%= link_to image_tag(review.book.image_url), book_path(review.book_id) %></td>
      <td>
        タイトル：<%= link_to review.book.title, book_path(review.book_id), class: 'text-success'%><br>
        作者：<%= review.book.author %><br>
        <%= render "users/favorite", review: review %><br>
        レビュー内容<br>
        <%= review.content %>
      </td>
    </tr>
  <% end %>
</table>