<div class="m-5">
  <h2>フォロー一覧</h2>
</div>
<table class="table col-lg-12">
  <thead>
  <!--@userのデータがある場合とない場合で条件分岐-->
  <% if @users.empty? %>
   <div class="col-md-6 offset-3">
     ユーザーはいません
   </div>
  <% else %>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <% end %>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :image, :fill, 50, 50, fallback: "no_image.jpg") %></td>
        <td><%= user.name %></td>
        <td>フォロー数：<%= user.follower.count %></td>
        <td>フォロワー数：<%= user.followed.count %></td>
        <td>
          <%= link_to '詳細', user_path(user), class: 'text-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>