<h1>hoge</h1>


<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4 bg-light">
      <%=render "users/info", user: @user %>
      <%=render "users/category", categories: @categories %>
    </div>
    <div class="col-lg-8">
      <table class="table table-boder bg-light">
        <tr>
          <th>レビュー一覧</th>
          <th></th>
          <th></th>
        </tr>
        <% @user.reviews.each do |review| %>
          <tr>
            <td><%= link_to image_tag(review.book.image_url), book_path(review.book_id) %></td>
            <td>
              タイトル：<%= link_to review.book.title, book_path(review.book_id), class: 'text-success'%><br>
              作者：<%= review.book.author %><br>
              <div id="favorites_buttons_<%= review.id %>">
                <%= render partial: 'favorites/favorite', locals: { review: review } %>
              </div>
              <div>
                レビュー内容<br>
                <%= review.content %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>


