<div class="container mt-5">
  <h4>最近レビューされた本</h4>
  <div class="row">
    <div class="col-lg-4">
      <table class="table table-stripe bg-light">
        <% @reviews.each do |reviews| %>
          <thead>
            <tr>
              <th><%= link_to reviews.book.title, book_path(reviews.book_id), class: 'text-success' %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= link_to image_tag(reviews.book.image_url), book_path(reviews.book_id), class: 'text-success' %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-lg-8">
      <h4>レビュー数の多い順</h4>
      <table class="table bg-light">
        <tr>
          <th>順位</th>
          <th></th>
          <th></th>
        </tr>
        <!--with_index(1)を使って順位をつけている-->
        <% @all_ranks.each.with_index(1) do |book, i| %>
          <tr>
            <td>
              <% if i == 1 %>
                <i class="fas fa-crown text-warning"></i>
              <% elsif i == 2 %>
                <i class="fas fa-crown text-secondary"></i>
              <% elsif i == 3 %>
                <i class="fas fa-crown copper"></i>
              <% else %>
                <div>　</div>
              <% end %>
              第<%= i %>位
            </td>
            <td><%= link_to image_tag(book.image_url), book_path(book.id) %></td>
            <td>
              名前：<%= link_to book.title, book_path(book.id), class: 'text-success' %><br>
              作者：<%= book.author %><br>
              レビュー数：<%= book.reviews.count %>件
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>