<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4">
      <table class="table table-boder">
        <tr>
          <td>タイトル</td>
          <%= link_to image_tag(@book.image_url), @book.url %>
          <td><%= link_to @book.title, @book.url, class: 'text-success' %></td>
        </tr>
        <tr>
          <td>作者</td>
          <td><%= @book.author %></td>
        </tr>
      </table>
      <%= link_to(new_book_review_path(@book.id)) do %>
        <button class="btn btn-outline-secondary text-success text-success">投稿</button>
      <% end %>
      <%= render "likes/like", book: @book %>
    </div>
    <div class="col-lg-8">
      <div class="review-list">
        <div class="row">
          <% @book.reviews.each do |review| %>
            <div class="col-lg-3 text-center border-top border-bottom border-left p-4">
              <%= attachment_image_tag review.user, :image, size: "100x100", fallback: "no_image.jpg" %>
              <div id="favorites_buttons_<%= review.id %>">
                <%= render partial: 'favorites/favorite', locals: { review: review } %>
              </div>
            </div>
            <div class="col-lg-9 border-top border-bottom border-right p-4">
              <div>
                <%= link_to review.user.name, user_path(review.user_id), class: 'text-success' %>
              </div>
              <div class="bg-light　w-100">
                <%= review.content %>
              </div>
              <% if review.user == current_user %>
                <div>
                  <%= link_to(review_path(review), method: :delete, remote: :true, data: {confirm: "削除しますか？"}) do %>
                    <button class="btn btn-outline-secondary text-danger">
                      削除
                    </button>
                  <% end %>
                </div>
              <% end %>
              <div id="post_comments_buttons_<%= review.id %>">
                <%= render partial: 'post_comments/post_comment', locals: { review: review } %>
              </div>
              <div id="post_comments_error_<%= review.id %>">
                <%= render 'layouts/error', model: @post_comment %>
              </div>
              <div>
                <%= render partial: 'post_comments/form', locals: {post_comment: @post_comment, review: review } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>