<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <table>
        <tr>
          <td>タイトル</td>
          <%= image_tag(@image_url) %>
          <td><%= @book.title %></td>
        </tr>
        <tr>
          <td>作者</td>
          <td><%= @book.author %></td>
        </tr>
      </table>
    <div>
  </div>
</div>
<div class="col-lg-8">
  <p>レビュー件数:<%= @book.reviews.count %></p>
  <% @book.reviews.each do |review| %>
    <p>===== book review =====</p>
    <%= review.user.name %><br>
    <%= review.created_at.strftime('%Y/%m/%d') %><br>
    <%= review.content %><br>
    <% if review.user == current_user %>
      <div>
        <%= link_to "削除", book_review_path(review.book, review), method: :delete %>
      </div>
    <% end %>
    <% if review.favorited_by?(current_user) %>
        <p>
          <%= link_to book_review_favorites_path(@book, review), method: :delete do %>
            ♥<%= review.favorites.count %> いいね
          <% end %>
        </p>
    <% else %>
        <p>
          <%= link_to book_review_favorites_path(@book, review), method: :post do %>
            ♡<%= review.favorites.count %> いいね
          <% end %>
        </p>
    <% end %>


    <p>===== review for comment =====</p>
    <%  review.posts.each do |p| %>
      <%= p.user.name %>
      <%= p.created_at.strftime('%Y/%m/%d') %>
      <%= p.impression %>
      <% if p.user == current_user %>
        <div>
          <%= link_to "削除", book_review_post_path(p.review.book, p.review, p), method: :delete %>
        </div>
      <% end %>
    <% end %>

    <div>
      <%= form_with(model:[@book, review, @post], local: true) do |f| %>
        <%= f.text_area :impression,placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= form_with(model:[@book, @review_new], local: true) do |f| %>
      <%= f.text_area :content, placeholder: "レビューをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>

