<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div>
        <% if admin_admin_signed_in? %>
          <%= link_to 'Reading', root_path, class: 'nav-link text-dark text-info' %>
        <% elsif user_signed_in? %>
          <%= link_to(root_path) do %>
            <button class="btn btn-outline-secondary btn-fishy text-info">Reading</button>
          <% end %>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
          <span><%= current_user.nickname %>さん こんにちは</span>
        <% elsif admin_admin_signed_in? %>
          <span>管理者ページです</span>
        <% end %>
      </div>
      <ul class="navbar-nav ml-auto">
        <% if admin_admin_signed_in? %>
          <li class="nav-item"><%= link_to 'ユーザー一覧', admin_users_path, class: 'nav-link text-dark text-info' %></li>
          <li class="nav-item"><%= link_to 'カテゴリー一覧', admin_categories_path, class: 'nav-link text-dark text-info' %></li>
          <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_admin_session_path, method: :delete, class: 'nav-link text-dark text-info' %></li>
        <% elsif user_signed_in? %>
          <li class="nav-item">
            <%= link_to(ranks_path) do %>
              <button class="btn btn-outline-secondary btn-fishy text-info">ランキング</button>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to(user_path(current_user.id)) do %>
              <button class="btn btn-outline-secondary btn-fishy text-info">マイページ</button>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to(books_search_path) do %>
              <button class="btn btn-outline-secondary btn-fishy text-info">本を探す</button>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to(destroy_user_session_path, method: :delete) do %>
              <button class="btn btn-outline-secondary btn-fishy text-info">ログアウト</button>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to(new_user_registration_path) do %>
              <button class="btn btn-outline-secondary btn-fishy text-info">新規登録</button>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to(new_user_session_path) do %>
              <button class="btn btn-outline-secondary btn-fishy text-info">ログイン</button>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to(new_admin_admin_session_path) do %>
              <button class="btn btn-outline-secondary btn-fishy text-info">管理者</button>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to(users_guest_sign_in_path, method: :post) do %>
              <button class="btn btn-outline-secondary btn-fishy text-info">ゲストログイン（閲覧用）</button>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>