<!DOCTYPE html>
<html>
  <head>
    <title>Reading</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/4401dbf3bc.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <%= render 'layouts/header' %>
      <!--フラッシュ表示-->
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
    　<% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
